# Ignore LaTeX build files
*.bbl
*.blg
*.bcf
*.blg
*.log
*.aux
*.toc
*.synctex.gz
*.tex.metadata
*.yml
*.fls 
*.fdb_latexmk 
document.pdf
# Ignore backup directories
ignore/
ignore/**/*.tex_backups_/
